<!-- <div class="container">
  
      <div class="card text-left">
        <div class="card-header">
        <h1>{{userData.name}}</h1>
        </div>
        <div class="card-body">
           
                <div class="row">
                   
                <div class="mt-3 ">
                  <label for="exampleInputName"><strong class="col-lg-6">Name</strong>{{userData.name}}</label>
               
                </div>
                <div class=" mt-3">
                  <label for="exampleInputf.Name"><h6>UserName</h6></label>
                </div>
                <div class=" mt-3">
                    <label for="exampleInputSemester"><h6>Email</h6></label>
                  </div>
                  <div class="mt-3">
                    <label for="exampleInputAddress"><h6>Address</h6></label> 
                  </div>
        </div>
        <div class="card-footer text-muted mt-2">
            
        </div>
      </div> -->


      <div class="card text-left">
        <div class="card-header">
            <div class="card-body">
            <h1>Student Details</h1>
            </div>
      <div class=" bootstrap snippets bootdey">
        <div class="panel-body inf-content">
            <div class="row">
                <!-- <div class="col-md-4">
                    <img alt="" style="width:600px;" title="" class="img-circle img-thumbnail isTooltip" src="{{objStudent?.image}}" data-original-title="Usuario">
                    <ul title="Ratings" class="list-inline ratings text-center">
                        <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                    </ul>
                </div> -->
                <div class="col-md-6">
                    <strong></strong><br>
                    <div class="table-responsive">
                    <table class="table table-user-information">
                        <tbody>
                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-asterisk text-primary"></span>
                                        Name :
                                    </strong>
                                </td>
                                <td class="text-primary">
                                   {{userData.name}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-user  text-primary"></span>
                                        UserName :
                                    </strong>
                                </td>
                                <td class="text-primary">
                                   {{userData.username}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-cloud text-primary"></span>
                                       Email :
                                    </strong>
                                </td>
                                <td class="text-primary">
                                  {{userData.email}}
                                </td>
                            </tr>
      
                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-bookmark text-primary"></span>
                                        Address :
                                    </strong>
                                </td>
                                <td class="text-primary">
                                  <h6>city:</h6>{{userData.address.city}} <h6>street:</h6>{{userData.address.street}}
                                </td>
                            </tr>
      
      
                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-eye-open text-primary"></span>
                                       Phone :
                                    </strong>
                                </td>
                                <td class="text-primary">
                                  {{userData.phone }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-envelope text-primary"></span>
                                     Website :
                                    </strong>
                                </td>
                                <td class="text-primary">
                                  {{userData.website }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-calendar text-primary"></span>
                                  Company :
                                    </strong>
                                </td>
                                <td class="text-primary">
                                <h6>name:</h6>  {{userData.company.name }} <h6>catchPhrase:</h6> {{userData.company.catchPhrase}}
                                </td>
      
                            </tr>
      
                          
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
      </div>
      
        <!-- <div class="row">
      <div class="col-12 offset-0">
        <button style="margin-top: 16px;
        margin-left: 26px;" (click)=" studentRoute()"type="button" class="btn btn-outline-primary  btn-sm">Back</button>
      </div>
      
        </div> -->
      
        
           





